
@{
    ViewData["Title"] = "MembersHome";
}

<h1>Members Home</h1>
<h2>Welcome @User.Identity.Name</h2>

@if (User.Identity.IsAuthenticated)
{
<a class="nav-link text-dark" asp-area="" asp-controller="Transfers" asp-action="Upload">Upload Movies</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Transfers" asp-action="List">List Movies</a>

}
<a class ="nav-link text-dark" href="/home/signout">Sign Out</a>

